<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ventas</title>
</head>
<body bgcolor="skyblue">
    <h1 style="text-align:center">Tu Porcentage</h1>
    <form method="POST" action="/porcentaje">
        <p align="center"><strong>Nombre:<input type="text" name="nombre" required="required"></strong></p>
        <p align="center"><strong>Apellido:<input type="text" name="apellido" required="required"></strong></p>
        <p align="center"><strong>Venta:<input type="number" name="venta" required="required"></strong></p>
        <p align="center"><input type="submit" value="Enviar"></p>
    </form>

</body>
</html>